<div class="eoko-wrapper-portalPage" style="overflow:hidden;margin-top:0px;">


    <!--top horizontal navigation bar-->

    <div class="eoko-wrapper-horizontal-nav fixedNav" >
       <img src="img/logo.png" class="logo" style="margin:0;">
        <nav class="eoko-vertical-nav">
            <a id="residentsTab" ng-click="selector(0)">Manage</a>
            <a id="approveTab" ng-click="selector(1)">Billing</a>
            <a id="statisticsTab" ng-click="selector(2)">Account Info</a>
        </nav>
         
    </div>
<div class="buttonFixed"><button class="button" ng-click="addCoupon()" >Add New</button></div>

     <div id="mainContent" class="eoko-portal-content-wrapper" style="margin-top:230px">

<div ng-if="errorpopup != ''" class="eoko-popup-error-message">{{errorpopup}}</div>

<!--Tab for Manage-->
        <div ng-if="selection.tab == 'Manage'">
           


         <!-- 

        https://codepen.io/jealeat96/pen/mPBGbG
         -->
         <div ng-repeat="coupon in list">
         <p ng-if="list.length == 0">No coupons created. Press Add New to get started!</p>
        <div class="overallCoupon" >

        <h1 ng-if="coupon.edit == 'false' && coupon.percent > 0" class="percentageIcon">{{coupon.percent}}% off</h1>
          <img ng-if="coupon.edit == 'false'" style="display:inline-block;min-width:161px;" src="{{coupon.image}}" height="161" width="161">   

          <div ng-if="coupon.edit == 'true'"><input class="percentageInput" type="number" placeholder="%" ng-model="coupon.percent" /><span class="percentIcon">%</span>

          <label for="tag" style="display: block;margin-bottom: -25px;margin-top: 5px;"> Select Category: </label><br>
              <select name="tag" ng-model="coupon.tag" ng-change="list.$save(coupon)">
                <option value="Hair">Hair</option>
                <option value="Eyebrow">Eyebrow</option>
                <option value="Nails">Nails</option>
                <option value="Spa">Spa/Waxing</option>
              </select>

          <div style="display:inline-block;">
          <label for="from" style="display: block;margin-bottom: -10px;margin-top: 5px;">From</label>
             <input type="time" id="fromTime" name="fromTime" value="{{coupon.fromTime}}" ng-model="fromCoupTime" ng-change="fromTimeString(fromCoupTime, $index)"
                 placeholder="HH:mm:ss" style="font-size: 18px;padding: 0px;padding-left: 24px;" required />
          </div>

          <div style="display:inline-block;">
          <label for="to" style="display: block;margin-bottom: -10px;margin-top: 5px;">To</label>
             <input type="time" id="toTime" name="toTime" value="{{coupon.toTime}}" ng-model="toCoupTime" ng-change="toTimeString(toCoupTime, $index)"
                 placeholder="HH:mm:ss" style="font-size: 18px;padding: 0px;padding-left: 24px;" required />
          </div>
          </div>

          
          <h2 class="couponHeader" style="margin-left:33px;">
          
            <label ng-if="coupon.edit == 'false'" for="dtitle">{{coupon.title}}</label>
            <input ng-model="coupon.title" ng-change="list.$save(coupon)" ng-if="coupon.edit == 'true'" type="text" id="dtitle" name="dtitle" placeholder="Discount Title" value="{{coupon.title}}" style="font-size: 18px;">

          

          <p ng-if="coupon.edit == 'false'" class="couponParagraph">{{coupon.description}}</p>
            <textarea ng-model="coupon.description" ng-change="list.$save(coupon)" ng-if="coupon.edit == 'true'" type="text" class="eoko-text-area" id="dparagraph" name="dparagraph" placeholder="Discount Description" style="font-size: 18px;width: 100%;height: auto;">{{coupon.description}}</textarea>

          </h2>
          <div style="margin: 16px;">
            <div ng-if="coupon.edit == 'false'" style="padding: 5px 15px;border: 1px solid green;background-color: lightgreen;color: black;height: 33px;width: 161px;text-align: center;text-transform: uppercase;">{{coupon.code}}</div>

            <input ng-model="coupon.code" ng-change="list.$save(coupon)" value="{{coupon.code}}" ng-if="coupon.edit == 'true'" type="text" id="dcode" name="dcode" placeholder="Code" style="font-size: 18px;width: 161px;display: block;text-transform: uppercase;">
          </div>
          

          <a ng-if="coupon.edit == 'true'" ng-click="setDone($index)" class="couponEditLink">Done</a>

           <a ng-if="coupon.edit == 'false'" ng-click="setEdit($index)" class="couponEditLink">Edit</a>

           <a ng-if="coupon.edit == 'true'" ng-click="removeItem($index)" class="couponEditLink deleteLink">Delete Item</a>
        </div>
        </div>

        </div>


<!--Tab for Billing-->
        <div ng-if="selection.tab == 'Billing'">
          Coming soon!
        </div>

<!--Tab for Account Info-->
        <div ng-if="selection.tab == 'Account Info'">
          
          <div style="margin:0 23%">
            <input ng-repeat="item in account" type="text" value="{{item.$value}}">

          </div>

        </div>
       
     </div>

  

</div>

  