<br>
<!--Eoko logo-->
<div class="eoko-signup-logo" ng-include src="'templates/icons/logo.html'"></div>

<div ng-if="errorpopup != '' && thankyou == false " class="eoko-popup-error-message">{{errorpopup}}</div>

<h1 ng-if="thankyou == true">Creating Admin Profile...</h1>


<!--navigation bar-->
<div style="margin: 0 auto; text-align: center">
    <button ng-click="selectCompanyInformation()" id="companyInfo" class="eoko-button-nav-active">Company Information
        <div id="circle1" class="eoko-element-signup-phase-active">1</div>
    </button>

    <button ng-click="selectCompanyContact()" id="companyContact" class="eoko-button-nav-nonactive">Company Contact
        <div id="circle2" class="eoko-element-signup-phase-nonactive">2</div>
    </button>

    <button ng-click="selectCompanyAccount()" id="companyAccount" class="eoko-button-nav-nonactive">Company Account
        <div id="circle3" class="eoko-element-signup-phase-nonactive">3</div>
    </button>
</div>


<!--spacer-->
<div class="spacer" style="height: 10px;"></div>


<!--Company Information form-->
<form ng-if="tabSelected == 'companyInfo'">
    <table style="text-align: start">
        <tr>
            <th>
                <label for="companyName" class="eoko-label-text-field">Company Name*</label>
                <br>
                <input ng-model="info.companyName" style="width: 100%" type="text" id="companyName" name="companyName"
                       required>
                <br>

                <!--<label class="eoko-label-text-field" for="industry">Industry/Sector*</label>
                <br>
                <input ng-model="info.industry" style="width: 100%" type="text" id="industry" name="industry"
                       required>-->

                <!--fillers-->
                <label class="eoko-label-text-field"></label><br>
                <input style="border: none; width: 100%; background-color: transparent" type="text" disabled><br>
            </th>
            <th style="width: 40%">
                <label class="eoko-label-text-field" for="address">Address*</label>
                <br>
                <input ng-model="info.address" style="width: 100%" type="text" id="address" name="address" required>
                <br>

                <label class="eoko-label-text-field" for="address2">Address 2</label>
                <br>
                <input ng-model="info.address2" style="width: 100%" type="text" id="address2" name="address2">
                <br>

                <label class="eoko-label-text-field" for="city">City*</label>
                <br>
                <input ng-model="info.city" style="width: 100%" type="text" id="city" name="city" required>
            </th>
            <th style="width: 30%; padding-bottom: 0">
                <!--fillers-->
                <label class="eoko-label-text-field"></label><br>
                <input style="border: none; width: 100%; background-color: transparent" type="text" disabled><br>
                <label class="eoko-label-text-field"></label><br>
                <input style="border: none; width: 100%; background-color: transparent" type="text" disabled><br>

                <label class="eoko-label-text-field" style="margin-right: 26px;" for="state">State*</label>
                <label class="eoko-label-text-field" for="zip">Zip*</label>
                <br>
                <input ng-model="info.state" style="float: left; width: 120px; margin-right: 10px;" type="text"
                       id="state" name="city" required>
                <input ng-model="info.zip" type="text" id="zip" name="zip" required>
            </th>
        </tr>
    </table>

    <button class="eoko-button-sign-up-next" style="float: right" ng-click="goToCompanyContact()">Next</button>
</form>


<!--Company Contact form-->
<form ng-if="tabSelected == 'companyContact'">
    <div style="text-align: center;">
        <h2 class="eoko-label-header-2-selected" id="primaryContact" ng-click="selectPrimaryContact()">Primary
            Contact</h2>
        <h2 class="eoko-label-header-2-not-selected" id="secondaryContact" ng-click="selectSecondaryContact()">Secondary
            Contact</h2>
    </div>

    <!--Primary Contact form-->
    <table ng-if="contactSelected == 'primaryContact'">
        <tr>
            <th style="width: 40%;">
                <label class="eoko-label-text-field" for="firstname">First Name*</label><br>
                <input ng-model="info.firstname" style="width: 100%" type="text" id="firstname" name="firstname"
                       required><br>

                <label class="eoko-label-text-field" for="lastname">Last Name*</label><br>
                <input ng-model="info.lastname" style="width: 100%" type="text" id="lastname" name="lastname"
                       required><br>

                <label class="eoko-label-text-field" for="title">Title or Position</label><br>
                <input ng-model="info.title" style="width: 100%" type="text" id="title" name="title" required><br>
            </th>
            <th style="width: 40%;">
                <label class="eoko-label-text-field" for="email">Email*</label><br>
                <input ng-model="info.email" style="width: 100%" type="email" id="email" name="email" required><br>

                <label class="eoko-label-text-field" for="phonenumber">Contact Number*</label><br>
                <input ng-model="info.phonenumber" style="width: 100%" type="tel" id="phonenumber"
                       name="phonenumber" required><br>

                <label class="eoko-label-text-field" for="faxnumber">Fax Number</label><br>
                <input ng-model="info.faxnumber" style="width: 100%" type="tel" id="faxnumber" name="faxnumber"
                       required><br>
            </th>
            <th style="width: 20%;">
                <img ng-click="addSecondaryContact()" src="../img/add-secondary-contact.png" style="margin: 0 auto">
                <label class="eoko-label-text-field" style="padding:0; text-align: center">Add Secondary Contact</label>
            </th>
        </tr>
    </table>

    <!--Secondary Contact form-->
    <table ng-if="contactSelected == 'secondaryContact'">
        <tr>
            <th style="width: 40%;">
                <label class="eoko-label-text-field" for="secondaryfirstname">First Name</label><br>
                <input ng-model="info.secondaryfirstname" style="width: 100%" type="text" id="secondaryfirstname"
                       name="secondaryfirstname"><br>

                <label class="eoko-label-text-field" for="secondarylastname">Last Name</label><br>
                <input ng-model="info.secondarylastname" style="width: 100%" type="text" id="secondarylastname"
                       name="secondarylastname"><br>

                <label class="eoko-label-text-field" for="secondarytitle">Title or Position</label><br>
                <input ng-model="info.secondarytitle" style="width: 100%" type="text" id="secondarytitle"
                       name="secondarytitle"><br>
            </th>
            <th style="width: 40%;">
                <label class="eoko-label-text-field" for="secondaryemail">Email</label><br>
                <input ng-model="info.secondaryemail" style="width: 100%" type="email" id="secondaryemail"
                       name="secondaryemail"><br>

                <label class="eoko-label-text-field" for="secondaryphonenumber">Contact Number</label><br>
                <input ng-model="info.secondaryphonenumber" style="width: 100%" type="tel" id="secondaryphonenumber"
                       name="secondaryphonenumber"><br>

                <label class="eoko-label-text-field" for="secondaryfaxnumber">Fax Number</label><br>
                <input ng-model="info.secondaryfaxnumber" style="width: 100%" type="tel" id="secondaryfaxnumber"
                       name="secondaryfaxnumber"><br>
            </th>
        </tr>
    </table>
    <button class="eoko-button-sign-up-next" style="float: right" ng-click="goToCompanyAccount()">Next</button>
</form>


<!--Company Account form-->
<form ng-if="tabSelected == 'companyAccount'" style="margin: 0 auto; text-align: center">
    <label class="eoko-label-text-field" for="password">Password*</label><br>
    <input ng-model="signed.password" ng-change="checkMatch()" type="password" id="password" name="password" required>
    <div id="matching_indicator" class="eoko-text-field-not-matching-password"></div>
    <br>


    <label class="eoko-label-text-field" for="confirmpass">Confirm Password*</label><br>
    <input ng-model="signed.matching" ng-change="checkMatch()" type="password" id="confirmpass" name="confirmpass"
           required>
    <div id="matching_indicator2" class="eoko-text-field-not-matching-password"></div>
    <br>

    <button class="eoko-button-sign-up-next" ng-disabled="!matching" ng-click="submitInfo()">Sign Up</button>
</form>

<form ng-if="thankyou == false" style="margin:0 10%">
</form>


  

